#!/usr/bin/env ruby

preprocess do
end

compile 'sitemap' do
  filter :erb
end

compile '/favicon/*' do
end

compile "/gallery/" do
  filter :erb
  layout "page"
end

compile "/gallery/*" do
  layout "gallery"
end

compile %r{/(trips|itineraries)/*} do
  if item[:extension] == "md"
    filter :convert_map_markup
    filter :convert_image_markup
    filter :kramdown
    filter :typogruby
    layout "trip"
  end
end

compile "/feed" do
  filter :erb
  filter :absolute_urls
end

compile %r{/resources/(css|js)/*} do
end

compile '/google41172420f42c0922' do
end

compile "/resources/*" do
  unless item.binary?
    filter :erb
    filter :rainpress if item[:extension] == "css"
  end
end

compile "*" do
  unless item.binary?
    filter :erb
    filter :kramdown if item[:extension] == "md"
    filter :typogruby
    layout "page"
  end
end


route 'sitemap' do
  item.identifier.chop + '.xml'
end

route 'robots' do
  item.identifier.chop + ".txt"
end

route '/favicon/*' do
  item.identifier.chop.gsub("favicon/", "") + "." + item[:extension]
end

route '/google41172420f42c0922' do
  item.identifier.chop + "." + item[:extension]
end

route %r{/resources/(css|js)/*} do
end

route "/resources/*" do
  item.identifier.to_s.slice(10, item.identifier.to_s.length - 11) + "." + item[:extension]
end

route "/feed/*" do
  item.identifier + "index.xml"
end

route "*" do
  if ["gpx"].include?(item[:extension])
    # do nothing
  elsif item.binary? || ["css", "js"].include?(item[:extension])
    item.identifier.chop + (item[:extension].nil? ? "" : ("." + item[:extension]))
  else
    item.identifier + "index.html"
  end
end

layout "*", :erb

postprocess do
  html_files = Dir["output/**/*.html"]
  html_files.each do |file|
    content = IO.read(file)
    content_with_image_size = AddImageSize.new.call(content)
    IO.write(file, content_with_image_size)
  end
end
