<% render "default" do %>
  <article class="page">
    <% if @item[:title] %>
      <header>
        <h2><%= @item[:title] %></h2>
      </header>
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
  </article>
<% end %>
